.custom_select {
  position: relative;
  font-family: Arial, sans-serif;
  user-select: none;
}

.select_input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: var(--bg-color);
  color: var(--text-color);

  border-radius: 8px;
  cursor: pointer;
  transition:
    border 0.2s,
    box-shadow 0.2s;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: var(--border-radius-sm);
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
  border-radius: var(--border-radius-sm);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-muted);
}

.select_input:hover {
  border: 1px solid rgba(var(--primary-rgb), 0.6);
  box-shadow: 0 0 0 2px rgba(var(--primary-rgb), 0.3);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.select_dropdown {
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 300px; /* 默认最大高度 */
  transition:
    opacity 0.2s,
    transform 0.2s;
  z-index: 9999;
}

.select_dropdown.bottom {
  transform-origin: top;
}

.select_dropdown.top {
  transform-origin: bottom;
}

.select_option {
  padding: 8px 8px 8px 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select_option:hover {
  background-color: rgba(var(--primary-rgb), 0.2);
}

.select_option.selected {
  background-color: rgba(var(--primary-rgb), 0.4);
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
